/* --- Global Styles --- */

* {
    font-family: "jetbrainsmono";
    font-size: 12px;
    min-height: 0;
}

#waybar {
    background: transparent;
}

#workspaces,
#clock,
#pulseaudio,
#bluetooth,
#network,
#battery {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 999px;
}

#workspaces {
    padding: 7px;
    margin-left: 12px;
}

#workspaces button {
    color: #ffffff;
    border-radius: 999px;
    padding: 0 15px;
    background: transparent;
}

#workspaces button.active {
    color: #000000;
    background-color: white;
}

#workspaces button:hover {
    background: #333333;
}

#clock {
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#clock:hover {
    background-color: #565656;
}

#pulseaudio,
#bluetooth,
#network,
#battery {
    padding: 0.3rem 0.7rem;
    margin: 5px 0px;
    border-radius: 0;
    min-width: 0;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#battery:hover {
    background-color: #565656;
}

#bluetooth {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#battery {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 12px;
}

#custom-uptime {
    color: #eeeeff;
}

#clock {
    color: #ffffff;
    font-weight: 500;
}

#pulseaudio {
    color: #ffffff;
}

#backlight {
    color: #ffffff;
}

#network {
    color: #ffffff;
}

#network.disconnected {
    color: #e78284;
}

#custom-lock {
    color: #eeeeff;
}

#bluetooth {
    color: #888888;
    font-size: 16px;
}

#bluetooth.on {
    color: #2196f3;
}

#bluetooth.connected {
    color: #ffffff;
}

#battery {
    color: #ffffff;
}

#battery.charging {
    color: #9df260;
}

#battery.warning:not(.charging) {
    color: #ff237f;
}

#custom-coffee.ON {
    color: #f7f7f7;
}

#custom-coffee.OFF {
    color: #888888;
}
