/* --- Global Styles --- */

@define-color text-main #ffffff;
@define-color text-contrast #ea5c1f;
@define-color text-warning #ff237f;
@define-color text-charging #9df260;

@define-color background rgba(0, 0, 0, 0.45);

* {
    font-family: "jetbrainsmono";
    font-size: 12px;
    min-height: 0;
}

#waybar {
    background: none;
    background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    color: @text-main;
    padding: 0.5rem 0.7rem;
    background-color: @background;
    border-radius: 6px;
}

.modules-right widget:not(:last-child) > .module, 
#workspaces button:not(:last-child) {
    margin-right: 10px;
}

#workspaces button {
    padding: 0;
}

#workspaces button.active {
    color: @text-contrast;
}

#bluetooth.on {
    color: @text-contrast;
}

#battery.charging {
    color: @text-charging;
}

#battery.warning:not(.charging) {
    color: @text-warning;
}
